@charset "UTF-8";

body {
    background-color: #f0e6b4;
    background-image: url(../images/sai-6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #c8412d;
    font-family: "07ロゴたいぷゴシック7", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px; 
}

p {
    color: #143046;
    font-family: "07ロゴたいぷゴシック7", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 1.7;
}

h2 {
    color: #c8412d;
    font-family: "07ロゴたいぷゴシック7", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 27px;
}

h3 {
    color: #c8412d;
    font-family: "07ロゴたいぷゴシック7", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

h4 {
    color: #143046;
    font-family: "07ロゴたいぷゴシック7", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

a {
    color: #1496a0;
    font-family: "07ロゴたいぷゴシック7", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

header {
    background-color: #f0e6b4;
    background-size: cover;
    margin: 0 15rem;
    padding: 0 10px;
    width: 1000px;
    text-align: center;}

.supekku {
    margin: 0 550px;
    padding: 0 10px;
    width: 400px;
}
.supekku h2 {
    text-align: center;
}
.supekku h3 {
    text-align: center;
}

.sonota {
    margin: 0 550px;
    padding: 0 10px;
    width: 400px;
}

footer {
    background-color: #f0e6b4;
    background-size: cover;
    margin: 0 15rem;
    padding: 0 10px;
    width: 1000px;
}
.mannaka {
    margin: 0 15rem;
    padding: 0 200px;
    width: 400px;
}
.Copyright {
    text-align: center;
}